---
layout: default
---

<div class="home">
<img src="https://campus.aau.at/vk/visitenkartenimage/image/-1932287376" alt="picture" style="float:left;height:210px;margin:0px 10px 10px 0px;"/>
<h2 style="margin-bottom: 0px;padding-bottom: 0px;">Alexander Lercher</h2>

<div style="margin-top: 0px;padding-top: 0px;">PhD Student</div>
<p>
<div><strong>Contact:</strong></div>
<div>E-Mail: alexander dot lercher at aau dot at</div>
<div>GitHub: <a href="https://github.com/Alexx882" target="_blank">Alexx882</a></div>
<div>LinkedIn: <a href="https://www.linkedin.com/in/alexander-lercher-2723671bb/" target="_blank">Alexander Lercher</a></div>
</p>

<div style="clear:left;text-align:justify;">
I am a PhD student in the <a href="https://www.aau.at/en/isys/serg/" target="_blank">Software Engineering Research Group</a> led by <a href="https://pinzger.github.io/" target="_blank">Prof. Martin Pinzger</a> at the <a href="https://www.aau.at/en/" target="_blank">University of Klagenfurt, Austria</a>. 
I received my Master's degree (Dipl.-Ing.) with a focus on distributed systems from the University of Klagenfurt in August 2021 with distinction. My research interests include microservice architectures, software and API evolution, and program analysis.
</div>
<br/>

<div style="clear:left;text-align:justify;">
Download my ICSE 2024 Doctoral Symposium paper here: <a href="resources/ICSE_DocSym_PAPER-camera-ready.pdf" download="ICSE_Paper">direct download</a>
</div>

{{ content }}

</div>
