---
layout: default
---

<div class="home">
<img src="{{ site.url }}/assets/pic.jpg" alt="picture"style="float:left;width:134px;height:210px;margin:5px;"/>
<h2 style="margin-bottom: 0px;padding-bottom: 0px;">Alexander Lercher</h2>

<div style="margin-top: 0px;padding-top: 0px;">PhD Student</div>
<p>
<div><strong>Contact:</strong></div>
<div>E-Mail: alexander dot lercher at aau dot at</div>
<!--<div>Twitter: <a href="https://twitter.com/Mitschiiii">Mitschiiii</div>
<div>GitHub: <a href="https://twitter.com/Mitschiiii">Mitschiiii</div>
<div><a href="https://www.xing.com/profile/Christian_Macho">Xing</div>-->
<br/>
<!-- <div>Phone: +43 463 2700 3532</div>
<div>Fax: +43 463 2700 993532</div> -->
<div>Office: S.2.77, main building, south wing, second floor (on appointment)</div>
</p>

<div align="justify" style="clear:left;">
I am a PhD student in the <a href="http://serg.aau.at" target="_blank">Software Engineering Research Group (SERG)</a> led by <a href="https://pinzger.github.io/" target="_blank">Prof. Martin Pinzger</a> at the <a href="http://www.aau.at" target="_blank">University of Klagenfurt, Austria</a>. 
I received my Master's degree (Dipl.-Ing.) from the <a href="http://www.aau.at" target="_blank">University of Klagenfurt</a> in August 2021 with distinction. My research interests include microservice architectures, API evolution, and automated repair.
</div>
<br/>
<!-- <div><h2>News</h2></div>
<ul>
<li>October 2021 - Our project "ChaiMix" supporting two founders for nine months in their foundation phase started. Funded by <a href="https://kwf.at/foerderungen/kwf-ausschreibung-umsetzung-innovativer-gruendunsvorhaben/">KFW - UiG</a></li>
<li>March 2021 - I was named among the <a href="https://medium.com/jss-editors-selection/best-reviewers-for-2020-eea836a9ed83" target="_blank">best reviewers of 2020</a> for the <a href="https://www.journals.elsevier.com/journal-of-systems-and-software" target="_blank">Journal of Systems and Software</a>.</li>
<li>March 2021 - Our Paper "Comprehending Spreadsheets: Which Strategies do Users Apply?" has been accepted for the <a href="https://conf.researchr.org/track/icpc-2021/icpc-2021-era#event-overview" target="_blank">ICPC 2021 ERA Track</a>.</li>
<li>December 2020 - Our Paper "The Nature of Build Changes An Empirical Study of Maven-based Build Systems" has been accepted for the Journal <a href="https://link.springer.com/journal/10664" target="_blank">Empirical Software Engineering</a>.</li>
<li>November 2020 - Co-organizing the <a href="http://vst2021.scch.at/">4th Workshop on Validation, Analysis and Evolution of Software Tests (VST 2021)</a> co-located with <a href="https://saner2021.shidler.hawaii.edu/">SANER 2021</a>.</li>
<li>October 2020 - Our project "Katana" supporting two founders for nine months in their foundation phase started. Funded by <a href="https://kwf.at/foerderungen/kwf-ausschreibung-umsetzung-innovativer-gruendunsvorhaben/">KFW - UiG</a></li>
<li>August 2020 - Started as a postdoc (tenure track) in the <a href="http://serg.aau.at" target="_blank">Software Engineering Group (SERG)</a> at the <a href="http://www.aau.at" target="_blank">Alpen-Adria-Universität Klagenfurt</a></li> -->
    <!--<li>August 2019 - Our Paper "What kind of questions do developers ask on Stack Overflow? A comparison of automated approaches to classify posts into question categories" has been accepted for the Journal <a href="https://link.springer.com/journal/10664" target="_blank">Empirical Software Engineering</a>.</li>
    <li>May 2019 - Started as a Senior Scientist (postdoc) in the <a href="http://serg.aau.at" target="_blank">Software Engineering Group (SERG)</a> at the <a href="http://www.aau.at" target="_blank">Alpen-Adria-Universität Klagenfurt</a></li>
    <li>May 2019 - I defended my thesis with the title "Preventing and Repairing Build Breakage"</li>
    <li>July 2018 - Our Paper "Noise and Heterogeneity in Historical Build Data: An Empirical Study of Travis CI" has been accepted for <a href="http://www.ase2018.com/">ASE 2018</a> in Montpellier, France.</li>
    <li>March 2018 - Our Paper "Automatically Classifying Posts into Question Categories on Stack Overflow" has been accepted for <a href="https://conf.researchr.org/home/icpc-2018">ICPC 2018</a> in Gothenburg, Sweden</li>
    <li>December 2017 - Our Paper "Automatically Repairing Dependency-Related Build Breakage" has been accepted for <a href="http://saner.unimol.it" target="_blank">SANER 2018</a> in Campobasso, Italy</li>
    <li>December 2017 - I've been giving a talk on "Mining Build Changes to Automatically Repair Dependency-Related Build Breakage" at <a href="https://vss.swa.univie.ac.at/" target="_blank">VSS 2017</a>
    <li>March 2017 - Our Paper "Extracting Build Changes with BuildDiff" has been accepted for <a href="http://2017.msrconf.org/#/home" target="_blank">MSR 2017</a> in Buenos Aires, Argentina.</li>
    <li>January 2017 - My Thesis abstract "Preventing and Repairing Build Breakage" has been accepted for the Doctoral Symposium at <a href="http://icse2017.gatech.edu/" target="_blank">ICSE 2017</a> in Buenos Aires, Argentina.</li>
    <li>December 2015 - Our Paper "Predicting Build Co-Changes with Source Code Change and Commit Categories" has been accepted for <a href="http://saner.inf.usi.ch/" target="_blank">SANER 2016</a> in Osaka, Japan.</li> -->
<!-- </ul> -->

{{ content }}

<!--<h1 class="page-heading">Posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->
</div>