---
layout: default
---

<div class="home">
<img src="{{ site.url }}/assets/pic.jpg" alt="picture" style="float:left;height:210px;margin:5px;"/>
<h2 style="margin-bottom: 0px;padding-bottom: 0px;">Alexander Lercher</h2>

<div style="margin-top: 0px;padding-top: 0px;">PhD Student</div>
<p>
<div><strong>Contact:</strong></div>
<div>E-Mail: alexander dot lercher at aau dot at</div>
<div>GitHub: <a href="https://github.com/Alexx882" target="_blank">Alexx882</a></div>
<div>LinkedIn: <a href="https://www.linkedin.com/in/alexander-lercher-2723671bb/" target="_blank">Alexander Lercher</a></div>
</p>

<div align="justify" style="clear:left;">
I am a PhD student in the <a href="https://www.aau.at/en/isys/serg/" target="_blank">Software Engineering Research Group (SERG)</a> led by <a href="https://pinzger.github.io/" target="_blank">Prof. Martin Pinzger</a> at the <a href="https://www.aau.at/en/" target="_blank">University of Klagenfurt, Austria</a>. 
I received my Master's degree (Dipl.-Ing.) with a focus on distributed systems from the University of Klagenfurt in August 2021 with distinction. My research interests include microservice architectures, API evolution, and automated repair.
</div>
<br/>

{{ content }}

</div>
